
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: #333;
  padding: 30px;
  min-height: 100vh;
}

h1, h3 {
  margin: 10px 0;
  font-family: 'Great Vibes', cursive;
  text-align: center;
}

.container {
  padding: 60px;
  display: flex; 
  align-items: flex-start; 
  gap: 20%;
}

.cup {
  background-color: white;
  border: 4px solid rgba(255, 255, 255, 0.85);
  color: #000;
  border-radius: 0 0 40px 40px;
  height: 330px;
  width: 150px;
  margin-left: 20%;
  overflow: hidden;
  box-shadow: 0 5px 15px rgb(234, 238, 240);
  display: flex;
  flex-direction: column-reverse; 
  color:rgb(156, 199, 226) ;
  background: transparent;
  box-shadow:  0 0 10px rgba(204, 224, 235, 0.5),0 0 20px rgba(111, 212, 232, 0.3),0 0 30px rgba(124, 196, 232, 0.3);
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;

}
.cup::before {
    content: '';
    position: absolute;
    background: radial-gradient(circle, rgba(153, 198, 211, 0.9), transparent);
    transform: translate(-50%, -50%) scale(0);  
    transition: transform 0.6s ease;
    z-index: 0;
  }
  
  .cup:hover {
    color: #0d0b0b;
    background-color: rgb(77, 189, 226);
    box-shadow: 0 0 20px rgba(77, 143, 169, 0.8),
                0 0 40px rgba(149, 224, 224, 0.6),
                0 0 60px rgba(67, 209, 238, 0.4);
  }

.cup.cup-small {
  height: 300px;
  width: 50px;
  border-radius: 0 0 15px 15px;
  background-color: rgba(255, 255, 255, 0.85);
  border: 2px solid rgb(156, 199, 226); 
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  color:rgb(156, 199, 226) ;
  background: transparent;
  box-shadow:  0 0 10px rgba(204, 224, 235, 0.5),0 0 20px rgba(111, 212, 232, 0.3),0 0 30px rgba(124, 196, 232, 0.3);
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}
.cup.cup-small::before {
    content: '';
    position: absolute;
    background: radial-gradient(circle, rgba(153, 198, 211, 0.9), transparent);
    transform: translate(-50%, -50%) scale(0);  
    transition: transform 0.6s ease;
    z-index: 0;
  }
  

.cup.cup-small:hover {
  background-color: rgb(87, 184, 223);
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cup.cup-small.full {
  background-color: rgb(87, 184, 223); 
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.small-cups-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.cups {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
}

.remained {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.remained span {
  font-size: 24px;
  font-weight: bold;
}

.percentage {
  background-color: rgb(87, 184, 223); 
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 28px;
  height: 0;
  transition: height 0.3s ease;
}

.text {
  font-size: 16px;
  margin-left: 20%;
}